.main {
  width: 100%;
  max-width: 1200px;
  background-color: rgb(50, 50, 50);
  border: 1px solid white;
  border-radius: 8px;
  margin: auto;
  min-height: 400px;
  padding: 2rem;
  margin-top: 2rem;
}
